# Ignore compiled Python files
*.pyc
*/**/*.pyc
# Ignore the virtual environment
venv/

# Ignore the Django secret key
secret_key.txt

# Ignore database files
db.sqlite3

# Ignore static files
/static/

# Ignore media files
/media/

# Ignore log files
*.log

# Ignore environment-specific settings
.env

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore package manager files
pip-lock.txt
yarn.lock

# Ignore deployment files
*.env.production
*.env.staging

# Ignore any other generated or sensitive files